*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: hsl(170deg 50% 70%);
  color: #333;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 1.5rem;
  font-family: monospace;
}

a {
  color: hsl(170deg 50% 20%);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

main {
  flex: 1
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

p {
  line-height: 1.5;
}

boggle-board > :first-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  max-width: 90vw;
  max-height: 60vh;
  aspect-ratio: 1/1;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(0 0 0 / 12%);
  box-shadow: 1px 3px 3px rgb(0 0 0 / 30%);
  gap: 1px;
  overflow: hidden;
  position: relative;
}

boggle-board button {
  display: block;
  font: inherit;
  padding: 1rem 1rem;
  border-radius: .25rem;
  background: white;
  border: none;
  box-shadow: 2px 3px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  appearance: none;
  color: #333;
}

.button-box {
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  gap: .5rem;
}

[data-tile] {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 600;
  background-color: white;
  color: #444;
}

.time-box {
  text-align: center;
  font-variant-numeric: tabular-nums;
  color: white;
  font-size: 4rem;
}

[data-notification] {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  backdrop-filter: blur(8px);
  font-size: 6rem;
  text-align: center;
  color: #444;
}

[data-notification] > button {
  background-color: hsl(170deg 50% 50%);
  color: white;
}
[data-state=idle] [data-show-state]:not([data-show-state~=idle]),
[data-state=started] [data-show-state]:not([data-show-state~=started]),
[data-state=complete] [data-show-state]:not([data-show-state~=complete]),
[data-state=review] [data-show-state]:not([data-show-state~=review]) {
  display: none;
}